body {
    display: flex;
    justify-content: center;
}

.conatiner {
    max-width: 1200px;
    width: 100%;
}

.cont-forms {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cont-add-estudiante, .cont-add-carrera, .cont-matr-estudiante {
    width: 33%;
}

.form-estudiante div , .form-carrera div, .form-matricular div{
    margin-bottom: 10px;
}

.cont-listar {
    margin-top: 20px;
}

.cont-busquedas {
    width: 100%;
    display: flex;
}

.cont-ciudad-id_carrera, .cont-genero, .cont-libreta {
    width: 33%;
}

.cont-ciudad-id_carrera div, .cont-genero div, .cont-libreta div {
    margin-top: 10px;
}

#respuesta {
    margin-top: 20px;
}